#jasdl-mainnav li.active a,
#jasdl-mainnav li.active a:hover,
#jasdl-mainnav li.active a:active,
#jasdl-mainnav li.active a:focus {
}

/* Sub Nav ---*/
#ja-subnav { }

/* Sub Nav (lv2) ---*/
#ja-subnav ul li ul {
	background: #F6F6F6;
	border: 1px solid #ccc;
}

#ja-subnav ul li ul li {
	border-top: 1px solid #ccc;
}

#ja-subnav ul li ul li:first-child {
	border: 0;
}
